/*FONTS*/
@font-face {
    font-family: 'century_gothicregular';
    src: url('fonts/gothic_0-webfont.eot');
    src: url('fonts/gothic_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/gothic_0-webfont.woff') format('woff'),
         url('fonts/gothic_0-webfont.ttf') format('truetype'),
         url('fonts/gothic_0-webfont.svg#century_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
/* GENERAL */

.left{float: left;}
.right{float: right;}
.btn-options{overflow: hidden;margin: 0 10px;}
.btn-options .ui-btn-inner{padding: .38em 2px;padding-top: .1em;}
.btn-options .ui-btn-text{font-size: 10px;text-shadow: none;font-family:'century_gothicregular';}
.btn-options .btn-first {width: 49%;float: left;}
.btn-options .btn-second {width: 49%;float: right;}
.btn-options .ui-btn-submit.ui-btn,.btn-options .ui-btn-normal.ui-btn{border-radius: 2px;}

.ui-bar-a{border: none;background-image: inherit;}
.ui-content {padding: 0;}
.ui-page{background: url("../img/bg_wrapper.jpg") repeat-x scroll 0 0 transparent;overflow: hidden;}

.nav-opciones.ui-grid-a > :nth-child(n) {width: 16%;margin-right: 2px;}
.nav-opciones li{float: left;}

.ui-controlgroup-controls{overflow: hidden;}
.ui-content.options .ui-controlgroup-horizontal .ui-btn{border: none;display: inline-block;height: 130px;background: transparent;}
.ui-content.options .ui-controlgroup-horizontal .ui-btn-inner{background: url("../img/bg_item.png") no-repeat scroll center top transparent;width: 112px;height: 100%;background-size: 115px;border: none}
.ui-content.options .ui-controlgroup{margin-bottom: 0px;margin-top: 0;}
.ui-content.options .ui-btn-inner{padding: 0.6em 2px;margin-right: 10px;margin-left: 10px;font-family:'century_gothicregular';text-shadow: none;font-weight: normal;letter-spacing: -1px;}
.ui-content.options .ui-btn-icon-top .ui-btn-inner{padding-top: 78px;}
.ui-content.options .ui-icon{margin-top: 16px;border: none;box-shadow: none;background-color: inherit;border-radius: 0px;display: block;}
.ui-content.options .icon_planes .ui-icon{background: url("../img/icon_planes.png") no-repeat scroll 0 0 transparent;height: 45px;width: 32px;margin-left: -17px;background-size: 32px;}
.ui-content.options .icon_guia .ui-icon{background: url("../img/icon_guia.png") no-repeat scroll 0 0 transparent;height: 42px;width: 48px;margin-left: -23px;background-size: 46px;margin-top: 22px;}
.ui-content.options .icon_recompensas .ui-icon{background: url("../img/icon_recompensas.png") no-repeat scroll 0 0 transparent;height: 42px;width: 35px;margin-left: -13px;background-size: 35px;margin-top: 21px;}
.ui-content.options .icon_estoy_aqui .ui-icon{background: url("../img/icon_estoy_aqui.png") no-repeat scroll 0 0 transparent;height: 44px;width: 40px;margin-left: -17px;background-size: 40px;margin-top: 20px;}
.ui-btn-submit.ui-shadow,.ui-btn-normal.ui-shadow{-moz-box-shadow: 0px 0px 0px /*{global-box-shadow-size}*/ rgba(0,0,0,.6) /*{global-box-shadow-color}*/;-webkit-box-shadow: 0px 0px 0px /*{global-box-shadow-size}*/ rgba(0,0,0,0.6) /*{global-box-shadow-color}*/;}
.ui-btn-corner-all, .ui-corner-all {border-radius: 5px 5px 5px 5px;}
.ui-btn-submit.ui-btn,.ui-btn-normal.ui-btn{border: none;}
.ui-btn-submit.ui-btn-facebook .ui-btn-inner,.ui-btn-submit.ui-btn-twitter .ui-btn-inner,.ui-btn-submit.ui-btn-purple .ui-btn-inner, .ui-btn-submit.ui-btn-google .ui-btn-inner, .ui-btn-submit.ui-btn-green .ui-btn-inner, .ui-btn-submit.ui-btn-orange .ui-btn-inner{padding: 0 10px 0 20px;}
.ui-btn-submit.ui-btn-facebook.ui-btn-up-a{
	background-image: -webkit-gradient(linear, left top, left bottom, from( #416ed1 /*{c-bup-background-start}*/), to( #395aa2 /*{c-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #416ed1 /*{c-bup-background-start}*/, #395aa2 /*{c-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #416ed1 /*{c-bup-background-start}*/, #395aa2 /*{c-bup-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #416ed1 /*{c-bup-background-start}*/, #395aa2 /*{c-bup-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #416ed1 /*{c-bup-background-start}*/, #395aa2 /*{c-bup-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #416ed1 /*{c-bup-background-start}*/, #395aa2 /*{c-bup-background-end}*/);        
}
.ui-btn-submit.ui-btn-facebook.ui-btn-hover-a,
.ui-btn-submit.ui-btn-facebook.ui-btn-active{
	background-image: -webkit-gradient(linear, left top, left bottom, from( #416fd2 /*{c-bup-background-start}*/), to( #5393C5 /*{c-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #416fd2 /*{c-bup-background-start}*/, #5393C5 /*{c-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #416fd2 /*{c-bup-background-start}*/, #5393C5 /*{c-bup-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #416fd2 /*{c-bup-background-start}*/, #5393C5 /*{c-bup-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #416fd2 /*{c-bup-background-start}*/, #5393C5 /*{c-bup-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #416fd2 /*{c-bup-background-start}*/, #5393C5 /*{c-bup-background-end}*/);        
}
.ui-btn-submit.ui-btn-twitter.ui-btn-up-a{
	background-image: -webkit-gradient(linear, left top, left bottom, from( #3f9ecb /*{c-bup-background-start}*/), to( #4fb6e7 /*{c-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #3f9ecb /*{c-bup-background-start}*/, #4fb6e7 /*{c-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #3f9ecb /*{c-bup-background-start}*/, #4fb6e7 /*{c-bup-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #3f9ecb /*{c-bup-background-start}*/, #4fb6e7 /*{c-bup-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #3f9ecb /*{c-bup-background-start}*/, #4fb6e7 /*{c-bup-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #3f9ecb /*{c-bup-background-start}*/, #4fb6e7 /*{c-bup-background-end}*/);        
}
.ui-btn-submit.ui-btn-twitter.ui-btn-hover-a,
.ui-btn-submit.ui-btn-twitter.ui-btn-active{
	background-image: -webkit-gradient(linear, left top, left bottom, from( #79d0f9 /*{c-bup-background-start}*/), to( #55bee6 /*{c-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #79d0f9 /*{c-bup-background-start}*/, #55bee6 /*{c-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #79d0f9 /*{c-bup-background-start}*/, #55bee6 /*{c-bup-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #79d0f9 /*{c-bup-background-start}*/, #55bee6 /*{c-bup-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #79d0f9 /*{c-bup-background-start}*/, #55bee6 /*{c-bup-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #79d0f9 /*{c-bup-background-start}*/, #55bee6 /*{c-bup-background-end}*/);        
}
.ui-btn-submit.ui-btn-purple.ui-btn-up-a{
	background-image: -webkit-gradient(linear, left top, left bottom, from( #cd0766 /*{c-bup-background-start}*/), to( #ab0555 /*{c-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #cd0766 /*{c-bup-background-start}*/, #ab0555 /*{c-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #cd0766 /*{c-bup-background-start}*/, #ab0555 /*{c-bup-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #cd0766 /*{c-bup-background-start}*/, #ab0555 /*{c-bup-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #cd0766 /*{c-bup-background-start}*/, #ab0555 /*{c-bup-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #cd0766 /*{c-bup-background-start}*/, #ab0555 /*{c-bup-background-end}*/);        
}
.ui-btn-submit.ui-btn-purple.ui-btn-hover-a,
.ui-btn-submit.ui-btn-purple.ui-btn-active{
	background-image: -webkit-gradient(linear, left top, left bottom, from( #df086f /*{c-bup-background-start}*/), to( #ea348c /*{c-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #df086f /*{c-bup-background-start}*/, #ea348c /*{c-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #df086f /*{c-bup-background-start}*/, #ea348c /*{c-bup-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #df086f /*{c-bup-background-start}*/, #ea348c /*{c-bup-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #df086f /*{c-bup-background-start}*/, #ea348c /*{c-bup-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #df086f /*{c-bup-background-start}*/, #ea348c /*{c-bup-background-end}*/);        
}
.ui-btn-submit.ui-btn-google.ui-btn-up-a{
	background-image: -webkit-gradient(linear, left top, left bottom, from( #dd4b39 /*{c-bup-background-start}*/), to( #d04332 /*{c-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #dd4b39 /*{c-bup-background-start}*/, #d04332 /*{c-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #dd4b39 /*{c-bup-background-start}*/, #d04332 /*{c-bup-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #dd4b39 /*{c-bup-background-start}*/, #d04332 /*{c-bup-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #dd4b39 /*{c-bup-background-start}*/, #d04332 /*{c-bup-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #dd4b39 /*{c-bup-background-start}*/, #d04332 /*{c-bup-background-end}*/);        
}
.ui-btn-submit.ui-btn-google.ui-btn-hover-a,
.ui-btn-submit.ui-btn-google.ui-btn-active{
	background-image: -webkit-gradient(linear, left top, left bottom, from( #e84e3b /*{c-bup-background-start}*/), to( #f06958 /*{c-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #e84e3b /*{c-bup-background-start}*/, #f06958 /*{c-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #e84e3b /*{c-bup-background-start}*/, #f06958 /*{c-bup-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #e84e3b /*{c-bup-background-start}*/, #f06958 /*{c-bup-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #e84e3b /*{c-bup-background-start}*/, #f06958 /*{c-bup-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #e84e3b /*{c-bup-background-start}*/, #f06958 /*{c-bup-background-end}*/);        
}
.ui-btn-submit.ui-btn-green.ui-btn-up-a{
	background-image: -webkit-gradient(linear, left top, left bottom, from( #38956f /*{c-bup-background-start}*/), to( #04c777 /*{c-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #38956f /*{c-bup-background-start}*/, #04c777 /*{c-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #38956f /*{c-bup-background-start}*/, #04c777 /*{c-bup-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #38956f /*{c-bup-background-start}*/, #04c777 /*{c-bup-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #38956f /*{c-bup-background-start}*/, #04c777 /*{c-bup-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #38956f /*{c-bup-background-start}*/, #04c777 /*{c-bup-background-end}*/);        
}
.ui-btn-submit.ui-btn-green.ui-btn-hover-a,
.ui-btn-submit.ui-btn-green.ui-btn-active{
	background-image: -webkit-gradient(linear, left top, left bottom, from( #1e7853 /*{c-bup-background-start}*/), to( #38956f /*{c-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #1e7853 /*{c-bup-background-start}*/, #38956f /*{c-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #1e7853 /*{c-bup-background-start}*/, #38956f /*{c-bup-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #1e7853 /*{c-bup-background-start}*/, #38956f /*{c-bup-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #1e7853 /*{c-bup-background-start}*/, #38956f /*{c-bup-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #1e7853 /*{c-bup-background-start}*/, #38956f /*{c-bup-background-end}*/);        
}
.ui-btn-submit.ui-btn-orange.ui-btn-up-a{
	background-image: -webkit-gradient(linear, left top, left bottom, from( #FF9900 /*{c-bup-background-start}*/), to( #FF3300 /*{c-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #FF9900 /*{c-bup-background-start}*/, #FF3300 /*{c-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #FF9900 /*{c-bup-background-start}*/, #FF3300 /*{c-bup-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #FF9900 /*{c-bup-background-start}*/, #FF3300 /*{c-bup-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #FF9900 /*{c-bup-background-start}*/, #FF3300 /*{c-bup-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #FF9900 /*{c-bup-background-start}*/, #FF3300 /*{c-bup-background-end}*/);        
}
.ui-btn-submit.ui-btn-orange.ui-btn-hover-a,
.ui-btn-submit.ui-btn-orange.ui-btn-active{
	background-image: -webkit-gradient(linear, left top, left bottom, from( #FF9900 /*{c-bup-background-start}*/), to( #FF9900 /*{c-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #FF9900 /*{c-bup-background-start}*/, #FF9900 /*{c-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #FF9900 /*{c-bup-background-start}*/, #FF9900 /*{c-bup-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #FF9900 /*{c-bup-background-start}*/, #FF9900 /*{c-bup-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #FF9900 /*{c-bup-background-start}*/, #FF9900 /*{c-bup-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #FF9900 /*{c-bup-background-start}*/, #FF9900 /*{c-bup-background-end}*/);        
}
.ui-btn-submit.ui-btn-facebook .ui-btn-text,.ui-btn-submit.ui-btn-twitter .ui-btn-text, .ui-btn-submit.ui-btn-purple .ui-btn-text, .ui-btn-submit.ui-btn-google .ui-btn-text, .ui-btn-submit.ui-btn-green .ui-btn-text, .ui-btn-submit.ui-btn-green.login .ui-btn-text, .ui-btn-submit.ui-btn-orange .ui-btn-text{display: inline-block;text-align: left;padding: 0.5em 0 0.6em 10px;text-shadow: 0 1px 1px #000;}
.ui-btn-submit.ui-btn-facebook .ui-icon,.ui-btn-submit.ui-btn-twitter .ui-icon,.ui-btn-submit.ui-btn-purple .ui-icon,.ui-btn-submit.ui-btn-google .ui-icon,.ui-btn-submit.ui-btn-green .ui-icon,.ui-btn-submit.ui-btn-orange .ui-icon{background: none;box-shadow: none;}
.ui-btn-submit.ui-btn-facebook .ui-btn-text{background: url("../img/icon_facebook.png") no-repeat scroll left top transparent;background-position: 87% center;background-size: 28px;font-size: 14px;letter-spacing: -1px;font-family:'century_gothicregular';}
.ui-btn-submit.ui-btn-twitter .ui-btn-text{background: url("../img/icon_twitter.png") no-repeat scroll left top transparent;background-position: 77% center;background-size: 28px;font-size: 14px;letter-spacing: -1px;font-family:'century_gothicregular';}
.ui-btn-submit.ui-btn-purple .ui-btn-text{background: url("../img/icon_alerta.png") no-repeat scroll left top transparent;background-position: 77% center;background-size: 24px;font-size: 14px;letter-spacing: -1px;font-family:'century_gothicregular';}
.ui-btn-submit.ui-btn-google .ui-btn-text{background: url("../img/icon_google.png") no-repeat scroll left top transparent;background-position: 80% center;background-size: 24px;font-size: 14px;letter-spacing: -1px;font-family:'century_gothicregular';}
.ui-btn-submit.ui-btn-green .ui-btn-text{font-size: 14px;font-family:'century_gothicregular';padding-left: 0;text-align: center;}
.ui-btn-submit.ui-btn-green.login .ui-btn-text{background: url("../img/icon_mi_perfil.png") no-repeat scroll left top transparent;background-position: 80% center;background-size: 24px;font-size: 14px;letter-spacing: -1px;font-family:'century_gothicregular';text-align: left;}
.ui-btn-submit.ui-btn-orange .ui-btn-text{background: url("../img/icon_email.png") no-repeat scroll left top transparent;background-position: 80% center;background-size: 24px;font-size: 14px;letter-spacing: -1px;font-family:'century_gothicregular';}

.logo.ui-title{margin: .2em 18% .0em;white-space: normal;}
.logo.ui-title img{width: 100%;height: auto;}
.ui-popup .ui-btn-corner-all{border-radius: 1em;}
#view .ui-content, #local_descripcion .ui-content, #recompensa_descripcion .ui-content, #mi_perfil .ui-content, #local_google_map .ui-content, #como_funciona_descripcion .ui-content, #plan_descripcion .ui-content, #quiero_participar_descripcion .ui-content, #registro_email .ui-content{background: #eeeeee;margin: 0 15px 25px 15px;border-radius: 5px;border: 1px solid #d1d1d1;padding: 0;min-height: 190px;}

/* NAVIGATION HEADER */
.ui-header ul{padding: 0 10px;background: url("../img/bg_top_footer.png") repeat-x scroll bottom left #51555e;height: 63px;}
.ui-header ul li{float: left;}
.ui-header a{border-radius: 0 0 0 0;margin-top: 18px;margin-bottom: 8px;-moz-box-shadow: 0px 0px 0px rgba(0,0,0,.2);-webkit-box-shadow: 0px 0px 0px rgba(0,0,0,.2)}
.ui-header .back{width: 21%;}
.ui-header .volver{background: url("../img/bg_volver.png") no-repeat scroll center top transparent;height: 30px;border: 0;background-size: 63px;box-shadow: none;}
.ui-header .volver .ui-btn-inner{border: 0;}
.ui-header .page{text-align: right;margin-top: 3px;width: 53%;}
.ui-header .page img{width: 128px;position: absolute;left: 32.5%;}
.ui-header .setting{width: 25%;}

/* NAVIGATION FOOTER */
.ui-footer{background: url("../img/bg_top_footer.png") repeat-x scroll top left transparent;border-top: 1px solid transparent;}
.ui-footer .ui-navbar{margin-top: 3px;background-color: #3e454d;height: 100%;}
.ui-footer .ui-navbar li .ui-btn-icon-top .ui-btn-inner{padding-top: 32px;min-height: 18px;margin-bottom: -5px;}
.nav-custom .ui-btn{background-image: none !important;border: none !important;font-family:'century_gothicregular';font-weight: normal !important;text-shadow: none !important;line-height: 8px !important;background: #3e454d !important;}
.nav-custom .ui-btn .ui-btn-inner {border-top: none;}
.nav-custom .ui-btn-inner .ui-btn-text{font-size: 10px;}
.nav-custom .ui-btn .ui-icon {border-radius: 0 0 0 0 !important;box-shadow: none !important;height: 30px !important;margin-left: -15px !important;width: 30px !important;background-repeat: no-repeat;background-color: transparent;background-position: 50% 50%;}
.nav-custom .ui-btn.nav_como_funciona .ui-icon {background-image: url("../img/icon_como_funciona.png");background-size: 18px 21px;}
.nav-custom .ui-btn.nav_mi_zona .ui-icon {background-image: url("../img/icon_mi_zona.png");background-size: 25px 23px;}
.nav-custom .ui-btn.nav_mi_perfil .ui-icon {background-image: url("../img/icon_mi_perfil.png");background-size: 24px 23px;}
.nav-custom .ui-btn.nav_quiero_participar .ui-icon {background-image: url("../img/icon_quiero_participar.png");background-size: 30px 23px;}
.nav-custom .ui-btn-hover-a .ui-btn-inner,.nav-custom .ui-btn-active-a .ui-btn-inner{background: url("../img/bg_item.png") no-repeat scroll center top transparent;width: 50px;background-size: 56px;border: none;display: inline-block;position: relative;top: -8px;}

/* NAVIGATION ENLACES */
.nav-enlaces{border-top: 1px solid #e3e3e3 !important}
.nav-enlaces a{background: transparent;border: none;text-shadow: none;font-weight: normal;}
.nav-enlaces a .ui-btn-text{font-family:'century_gothicregular';font-size: 11px;letter-spacing: -1px;color: #000;}
.nav-enlaces .ui-block-e .ui-btn-inner{padding-left: 3px;padding-right: 3px;}
.nav-enlaces .ui-icon{border: none;box-shadow: 0 0 0;border-radius: 0;width: 35px;height: 35px;}
.nav-enlaces .ui-btn-inner{padding-bottom: .4em !important;padding-top: 32px !important;}
.nav-enlaces .icon_llamar .ui-icon{background: url("../img/icon_llamar_black.png") no-repeat scroll 2px 0 transparent;height: 25px;width: 20px;background-size: 15px;margin-top: 6px;}
.nav-enlaces .icon_maps .ui-icon{background: url("../img/icon_maps_black.png") no-repeat scroll center top transparent;height: 24px;width: 28px;background-size: 27px;margin-left: -13px;margin-top: 5px;}
.nav-enlaces .icon_web .ui-icon{background: url("../img/icon_web_black.png") no-repeat scroll center top transparent;height: 30px;width: 25px;background-size: 25px;margin-left: -10px;margin-top: 1px;}
.nav-enlaces .icon_twitter .ui-icon{background: url("../img/icon_twitter_black.png") no-repeat scroll center top transparent;height: 30px;width: 28px;background-size: 26px;margin-left: -14px;margin-top: 3px;}
.nav-enlaces .icon_facebook .ui-icon{background: url("../img/icon_facebook_black.png") no-repeat scroll center top transparent;height: 30px;width: 28px;background-size: 26px;margin-left: -14px;margin-top: 3px;}

/* NAVIGATION INFORMACION */
.nav-informacion .ui-btn-inner{border-top: none;padding-left: 8px;padding-right: 8px;}
.nav-informacion .ui-btn-text{font-size: 11px;text-shadow: none;font-family:'century_gothicregular';color: #df086f;}
.nav-informacion a{background: none;border: 1px solid #cacaca;}
.nav-informacion a.ui-btn-active{border: 1px solid #d9a8bf;}

/* PUNTOS OBTENIDOS */
.content_puntos{text-shadow: none;color: #a8a8a8;font-family:'century_gothicregular';margin: 0 5px;padding-top: 2px;padding-bottom: 5px;}
.content_puntos span{line-height: 0;text-decoration: none;text-indent: -999px;overflow: hidden;display: inline-block;padding: 6px;width: 0;height: 0;color: #333;background-color: #424242;-webkit-box-shadow: inset rgba(0,0,0,0.25) 0 1px 2px;-moz-box-shadow: inset rgba(0,0,0,0.25) 0 1px 2px;box-shadow: inset rgba(0,0,0,0.25) 0 1px 2px;-webkit-border-radius: 6px;-moz-border-radius: 6px;border-radius: 6px;float: left;margin: 0 1px;}
.content_puntos span.active{background-color: #df086f;-webkit-box-shadow: rgba(0,0,0,0.25) 0 1px 2px;-moz-box-shadow: rgba(0,0,0,0.25) 0 1px 2px;box-shadow: rgba(0,0,0,0.25) 0 1px 2px;}
.content_puntos i{display: inline-block;float: left;margin-top: -3px;}
.content_puntos .puntos, .mis_puntos .puntos{color: #df086f;line-height: 14px;font-size: 17px;}
.mis_puntos .ui-collapsible-content{overflow: hidden;font-size: 13px;color: #000;text-shadow: 0 0 0;padding: 10px 0 0 0;}
.mis_puntos .ui-collapsible-content .item{overflow: hidden;clear: both;}

/* VIEW */
#view .texto {color: #000;text-shadow: 0 0 0;text-align: center;border-bottom: 1px solid #e3e3e3;font-size: 18px;padding: 15px 20px;letter-spacing: -1px;font-family:'century_gothicregular';line-height: 23px;}
#view .texto .con_facebook{color: #39599f;}
#view .texto .con_twitter{color: #45b0e3;}
#view .texto .con_google{color: #d04332;}
#view .content_options{padding: 5px 10px;}
#view .ui-header,#view .ui-content{display: none;}

/* HOME */
#home .ui-content{padding: 0 24px;}
#home .logo.ui-title{margin-bottom: 0;}

/* GUIA */
#guia .ui-controlgroup, #como_funciona .ui-controlgroup{margin: 0;}
#guia .ui-controlgroup a, #como_funciona .ui-controlgroup a {background: url("../img/bg_guia.png") repeat scroll 0 0 transparent;border-bottom: 1px solid #646363 !important;border-radius: 0 0 0 0 !important;padding-right: 20px;border: 0;}
#guia .ui-controlgroup a .ui-btn-inner, #como_funciona .ui-controlgroup a .ui-btn-inner {border-radius: 0 0 0 0;background: url("../img/arrow_sprite.png") no-repeat scroll center right transparent;border-top: 0px;padding-left: 52px;text-align: left;background-position: 100% -18%;background-size: 13px;font-weight: normal;font-family:'century_gothicregular';font-size: 18px;padding-top: 18px;padding-bottom: 18px;}
#guia .ui-controlgroup a .ui-btn-inner:hover, #como_funciona .ui-controlgroup a .ui-btn-inner:hover{background-position: 100% 131%;}
#guia .ui-controlgroup a .ui-btn-inner:hover, #como_funciona .ui-controlgroup a .ui-btn-inner:hover{color: #d9096d;text-shadow: none;}
#guia .ui-controlgroup a .ui-icon, #como_funciona .ui-controlgroup a .ui-icon{box-shadow: none;width: 32px;height: 32px;background-color: transparent;margin-top: -20px;border-radius: 0;}
#guia .guia_restaurante .ui-icon{background: url("../img/guias/icon_restaurante.png") no-repeat scroll top center transparent;padding-left: 2px;background-size: 35px;}
#guia .guia_salud_bienestar .ui-icon{background: url("../img/guias/icon_salud_belleza.png") no-repeat scroll top center transparent;padding-left: 4px;background-size: 35px;}
#guia .guia_shopping .ui-icon{background: url("../img/guias/icon_shopping.png") no-repeat scroll top center transparent;padding-left: 4px;background-size: 35px;margin-top: -17px;}
#guia .guia_ocio .ui-icon{background: url("../img/guias/icon_ocio.png") no-repeat scroll top center transparent;padding-left: 2px;background-size: 35px;margin-top: -14px;}
#guia .guia_centros_comerciales .ui-icon{background: url("../img/guias/icon_centros_comerciales.png") no-repeat scroll top center transparent;padding-left: 3px;background-size: 35px;margin-top: -18px;}
#guia .guia_otros .ui-icon{background: url("../img/guias/icon_otros.png") no-repeat scroll top center transparent;padding-left: 3px;background-size: 35px;margin-top: -18px;}
#guia .ui-footer, #recompensas .ui-footer{background-color: #3d3b3b;}

/* LOCALES - PLANES - ESTOY AQUI*/
#locales .content_top, #planes .content_top, #estoy_aqui .content_top{background: #e2e2e2;width: 100%;}
#locales .guia_items, #planes .guia_items, #estoy_aqui .guia_items{overflow: hidden;height: 48px;}
#locales .guia_items .owl-item, #planes .guia_items .owl-item, #estoy_aqui .guia_items .owl-item{height: 48px;}
#locales .guia_items .owl-item.active, #planes .guia_items .owl-item.active, #estoy_aqui .guia_items .owl-item.active{background: #df086f;}
#locales .guia_items li, #planes .guia_items li, #estoy_aqui .guia_items li{float: left;}
#locales .guia_items .recuadro, #planes .guia_items .recuadro, #estoy_aqui .guia_items .recuadro{text-align: center;height: 25px;margin-top: 8px;padding-left: 25px;padding-right: 25px;width: 30px;}
#locales .guia_items .recuadro a, #planes .guia_items .recuadro a, #estoy_aqui .guia_items .recuadro a{display: inline-block;}
#locales .guia_items .recuadro img, #planes .guia_items .recuadro img, #estoy_aqui .guia_items .recuadro img{width: 100%;}
#locales .guia_items p, #planes .guia_items p, #estoy_aqui .guia_items p{font-size: 9px;color: #595858;text-shadow: none;text-align: center;font-family:'century_gothicregular';}
#locales .guia_items .owl-item.active p, #planes .guia_items .owl-item.active p, #estoy_aqui .guia_items .owl-item.active p{color: #fff;}
#locales .ui-listview, #planes .ui-listview, #estoy_aqui .ui-listview{margin: 0px;margin-bottom: 2px;}
#locales .ui-listview li, #planes .ui-listview li, #estoy_aqui .ui-listview li{background: #f2f2f2;}
#locales .ui-listview li .ui-li-thumb, #planes .ui-listview li .ui-li-thumb, #estoy_aqui .ui-listview li .ui-li-thumb{left: 0px;top: 0;max-height: 60px;min-height: 60px;max-width: 122px;width: 122px;}
#locales .ui-listview .ui-li-static.ui-li-has-thumb, #planes .ui-listview .ui-li-static.ui-li-has-thumb, #estoy_aqui .ui-listview .ui-li-static.ui-li-has-thumb{padding-left: 122px;padding-right: 10px;padding-top: 0px;padding-bottom: 0;min-height: 60px;margin-top: 2px; margin-bottom: 2px;overflow: hidden;display: none;}
#locales .ui-listview .ui-li-heading, #planes .ui-listview .ui-li-heading, #estoy_aqui .ui-listview .ui-li-heading{margin-top: 0;white-space: normal;font-size: 12px;text-shadow: none;margin-bottom: 0;line-height: 14px;}
#locales .ui-listview .ui-li-heading a, #planes .ui-listview .ui-li-heading a, #estoy_aqui .ui-listview .ui-li-heading a{color: #838383;font-family:'century_gothicregular';}
#locales .ui-listview .content_recuadro, #planes .ui-listview .content_recuadro, #estoy_aqui .ui-listview .content_recuadro{background: url("../img/bg_item_li.png") no-repeat scroll top left transparent;position: relative;left: -24px;padding-left: 24px;width: 100%;padding-bottom: 4px;}
#locales .ui-listview .content_descripcion, #planes .ui-listview .content_descripcion, #estoy_aqui .ui-listview .content_descripcion{overflow: hidden;border-bottom: 1px dotted #acacac;padding-bottom: 2px;min-height: 45px;max-height: 45px;padding-top: 8px;margin-left: 10px;}
#locales .ui-listview .content_descripcion .ubicacion, #planes .ui-listview .content_descripcion .ubicacion, #estoy_aqui .ui-listview .content_descripcion .ubicacion{width: 52%;float: left;}
#locales .ui-listview .content_descripcion .km, #planes .ui-listview .content_descripcion .km, #estoy_aqui .ui-listview .content_descripcion .km{width: 46%;padding: 12px 0;float: right;text-shadow: none;color: #df086f;font-family:'century_gothicregular';font-size: 12px;}
#locales .ui-listview .content_descripcion .km b, #planes .ui-listview .content_descripcion .km b, #estoy_aqui .ui-listview .content_descripcion .km b{white-space: nowrap;overflow: hidden;text-overflow: ellipsis;width: 80px;display: block;text-align: right;}
#planes .ningun_plan, #recompensas .ningun_plan, #guia .ningun_plan{color: #df086f;font-size: 13px;text-shadow: none;padding: 10px;}
#recompensas .ningun_plan{font-size: 12px;}

/* LOCAL DESCRIPCION  -  PLAN DESCRIPCION */
#local_descripcion .ui-content, #plan_descripcion .ui-content, #recompensa_descripcion .ui-content{margin: 0px;min-height: 415px;border-radius: 0;border: none;}
#local_descripcion .nav-opciones li, #plan_descripcion .nav-opciones li{text-align: center;float: left;width: 16%;margin-right: 2px;}
#local_descripcion .nav-opciones a, #plan_descripcion .nav-opciones a{background: transparent;border: none;display: inline-block;width: 38px;height: 35px;}
#local_descripcion .nav-opciones .ui-icon, #plan_descripcion .nav-opciones .ui-icon{border: none;margin: 0;padding: 0;box-shadow: 0 0 0;border-radius: 0;width: 35px;height: 35px;}
#local_descripcion .nav-opciones .ui-btn-inner, #plan_descripcion .nav-opciones .ui-btn-inner{border: none;padding-top: 0;padding-bottom: 0;}
#local_descripcion .nav-opciones, #plan_descripcion .nav-opciones{padding-bottom: 10px;border-bottom: 1px solid #e3e3e3;}
#local_descripcion .item_1 .ui-icon, #plan_descripcion .item_1 .ui-icon{background: url("../img/items/q.png") no-repeat scroll top center transparent;padding-left: 4px;background-size: 35px;}
#local_descripcion .item_2 .ui-icon, #plan_descripcion .item_2 .ui-icon{background: url("../img/items/p.png") no-repeat scroll top center transparent;padding-left: 4px;background-size: 35px;}
#local_descripcion .item_3 .ui-icon, #plan_descripcion .item_3 .ui-icon{background: url("../img/items/l.png") no-repeat scroll top center transparent;padding-left: 4px;background-size: 35px;}
#local_descripcion .item_4 .ui-icon, #plan_descripcion .item_4 .ui-icon{background: url("../img/items/a.png") no-repeat scroll top center transparent;padding-left: 4px;background-size: 35px;}
#local_descripcion .item_5 .ui-icon, #plan_descripcion .item_5 .ui-icon{background: url("../img/items/n.png") no-repeat scroll top center transparent;padding-left: 4px;background-size: 35px;}
#local_descripcion .item_6 .ui-icon, #plan_descripcion .item_6 .ui-icon{background: url("../img/items/signo.png") no-repeat scroll top center transparent;padding-left: 4px;background-size: 35px;}
#local_descripcion .content_middle, #plan_descripcion .content_middle, #recompensa_descripcion .content_middle{margin-top: -18px;overflow: hidden;}
#local_descripcion .content_middle .ui-navbar, #plan_descripcion .content_middle .ui-navbar{border-bottom: 1px solid #fff;}
#local_descripcion .content_bottom, #plan_descripcion .content_bottom, #recompensa_descripcion .content_bottom{text-shadow: 0 0 0;font-family:'century_gothicregular';}
#local_descripcion .content_bottom div.texto_descripcion, #plan_descripcion .content_bottom div.texto_descripcion, #recompensa_descripcion .content_bottom div.texto_descripcion{margin: 3px 12px;font-size: 14px;line-height: 14px;/*max-height: 72px;*/min-height: 72px;overflow: hidden;text-shadow: none;background: #d1cfcf;color: #575757;padding: 8px;}
#local_descripcion .content_bottom .informacion, #plan_descripcion .content_bottom .informacion{overflow: hidden;font-size: 12px;color: #000;margin: 0 12px;padding-top: 3px;margin-bottom: 12px;}
#local_descripcion .content_bottom .informacion label{color: #df086f;display: block;}
#local_descripcion .content_bottom .informacion li span, #local_descripcion .content_bottom .informacion li a{color: #000;}
#local_descripcion .content_bottom .informacion li{float: left;line-height: 12px;letter-spacing: -1px;width: 49%;}
#local_descripcion .content_bottom .informacion .planes_hoy{position: relative;clear: both;width: 124px;margin: 0 auto;margin-top: 18px;}
#local_descripcion .content_bottom .informacion .planes_hoy a{background: url("../img/bg_planes_hoy.png") no-repeat scroll top left transparent;padding-left: 40px;background-size: 123px;width: 84px;height: 20px;margin-top: -1px;font-size: 10px;padding-top: 7px;color: #fff;text-shadow: 0 1px 1px #6c6f77;display: inline-block;font-weight: normal;}
#local_descripcion .content_bottom .informacion .planes_hoy span{position: absolute;right: 5px;top: -14px;color: #fff;width: 22px;height: 22px;text-align: center;background: url("../img/bg_item.png") no-repeat scroll center top transparent;background-size: 20px;border: none;line-height: 20px;}
#local_descripcion .content_bottom .informacion li.home{float: left;}
#local_descripcion .content_bottom .informacion li.home a{background: url("../img/bg_home.png") no-repeat scroll center top transparent;background-size: 32px 26px;border: none;height: 26px;width: 34px;display: block;text-indent: -9999px;}

/* RECOMPENSAS */
#recompensas .ui-content{background: url("../img/bg_guia.png") repeat scroll 0 0 transparent;overflow: hidden;}
#recompensas .ui-listview{margin: 0}
#recompensas .ui-listview li .ui-li-thumb{left: 0px;top: 0;max-height: 60px;max-width: 80px;min-height: 60px;}
#recompensas .ui-listview li.ui-li-has-thumb .ui-btn-inner a.ui-link-inherit{min-height: 43px;padding-left: 80px;padding-top: 0em;padding-bottom: 0em;}
#recompensas .ui-listview li.ui-btn-hover-a .ui-btn-inner .ui-icon-arrow-r{background-position: 0px 85%;}
#recompensas .ui-listview li.ui-btn-hover-a .ui-btn-text .ui-li-heading, #recompensas .ui-listview .content_descripcion span{color: #df086f;text-shadow: none;}
#recompensas .ui-listview li.ui-btn-up-a,#recompensas .ui-listview li.ui-btn-hover-a{background-image: none;background: transparent;}
#recompensas .ui-listview .ui-btn-inner .ui-icon-arrow-r{right: 18px;background-position: 0px 15%;}
#recompensas .ui-listview .ui-btn-inner .ui-icon-shadow{-moz-box-shadow: 0 0 0 rgba(255,255,255,.4);-webkit-box-shadow: 0 0 0 rgba(255,255,255,.4) }
#recompensas .ui-listview .ui-btn-inner .ui-icon{background-image: url("../img/arrow_sprite.png");width: 12px;height: 18px;background-size: 10px;background-color: transparent;-webkit-border-radius: 0;border-radius: 0;}
#recompensas .ui-listview .ui-li-heading{margin-top: 0;font-size: 16px;text-shadow: none;margin-bottom: 0;font-weight: normal;}
#recompensas .ui-listview .content_recuadro{padding-top: 0.5em;padding-bottom: 0.5em;background: url("../img/bg_item_li.png") no-repeat scroll top left transparent;position: relative;left: -24px;padding-left: 34px;width: 100%;}
#recompensas .ui-listview .content_descripcion,#recompensas .content_top{overflow: hidden;font-weight: normal;font-family:'century_gothicregular'}
#recompensas .ui-listview .content_descripcion span{font-size: 14px;}
#recompensas .content_top{margin: 10px 20px 10px;font-size: 19px;letter-spacing: -1px;}
#recompensas .content_top span{color: #df086f;font-size: 25px;}

/* RECOMPENSA DESCRIPCION */
#recompensa_descripcion .content_middle{border-bottom: 1px solid #fff;}
#recompensa_descripcion .content_middle .content_puntos{overflow: hidden;border-bottom: 1px solid #e3e3e3;}
#recompensa_descripcion .content_bottom .informacion{margin: 10px 0;}
#recompensa_descripcion .content_bottom div.texto_descripcion{/*max-height: 145px;*/min-height: 145px;}

/* MI PERFIL */
#mi_perfil .ui-content, #como_funciona_descripcion .ui-content, #quiero_participar_descripcion .ui-content, #registro_email .ui-content{margin-top: 34px;min-height: 345px;}
#mi_perfil .content_details, #como_funciona_descripcion .content_details, #quiero_participar_descripcion .content_details, #registro_email .content_details{margin: 0 8px;}
#mi_perfil h2.ui-li-heading, #como_funciona_descripcion h2.ui-li-heading, #plan_condiciones h2.ui-li-heading, #plan_como_reservar h2.ui-li-heading, #recompensa_condiciones h2.ui-li-heading, #quiero_participar_descripcion h2.ui-li-heading, #registro_email h2.ui-li-heading{text-align: center;color: #5a5a5a;font-family:'century_gothicregular';border-bottom: 1px solid #e3e3e3;padding-bottom: 10px;font-weight: normal;}
#mi_perfil p, #como_funciona_descripcion p, #quiero_participar_descripcion p, #registro_email p{margin-top: 15px;color: #5a5a5a;font-size: 12px;text-shadow: none;margin-bottom: 20px;font-family:'century_gothicregular'}
#mi_perfil .content_puntos{margin: 0 0 32px 0;}
#mi_perfil .ui-btn-submit.ui-btn-facebook, #mi_perfil .ui-btn-submit.ui-btn-twitter,#mi_perfil .ui-btn-submit.ui-btn-facebook, #mi_perfil .ui-btn-submit.ui-btn-google, #mi_perfil .ui-btn-submit.ui-btn-email{display: none;}
#mi_perfil .ui-btn-submit.ui-btn-facebook .ui-btn-text{background-position: 92%;}
#mi_perfil .ui-btn-submit.ui-btn-twitter .ui-btn-text, #mi_perfil .ui-btn-submit.ui-btn-purple .ui-btn-text{background-position: 80%;}
#mi_perfil .ui-btn-submit.ui-btn-google .ui-btn-text{background-position: 85%;}
#mi_perfil .ui-field-contain{padding-top: 0;padding-bottom: 0;}
#mi_perfil .cambiar_email .ui-btn-text{font-family: 'century_gothicregular';}
#mi_perfil .recibir_alertas.si .ui-btn-text{padding-left: 42px;background-position: 60%;}
#mi_perfil .lista_zonas .ui-btn-text{font-family: 'century_gothicregular';font-size: 14px;}

/* COMO FUNCIONA */
#como_funciona .que_plan .ui-icon{background: url("../img/que_plan.png") no-repeat scroll top center transparent;background-size: 28px;margin-top: -13px !important;}
#como_funciona .como_hacer_puntos .ui-icon{background: url("../img/como_hacer_puntos.png") no-repeat scroll top center transparent;background-size: 28px;margin-top: -13px !important;}
#como_funciona .quiero_anunciarme .ui-icon{background: url("../img/quiero_anunciarme.png") no-repeat scroll top center transparent;background-size: 28px;margin-top: -13px !important;}
#como_funciona .como_resevar_un_plan .ui-icon{background: url("../img/como_resevar_un_plan.png") no-repeat scroll top center transparent;background-size: 28px;margin-top: -8px !important;}
#como_funciona .dejar_recibir_alertas .ui-icon{background: url("../img/dejar_recibir_alertas.png") no-repeat scroll top center transparent;background-size: 28px;margin-top: -13px !important;height: 32px !important;}

/* COMO FUNCIONA DESCRIPCION */
#como_funciona_descripcion .content_details, #plan_condiciones .container_descripcion, #plan_como_reservar .container_descripcion, #recompensa_condiciones .container_descripcion, #quiero_participar_descripcion .content_details{color: #5a5a5a;font-size: 12px;text-shadow: none;}
#como_funciona_descripcion p, #plan_condiciones .container_descripcion, #plan_como_reservar .container_descripcion, #recompensa_condiciones .container_descripcion, #quiero_participar_descripcion .container_descripcion{margin-top: 5px;margin-bottom: 5px;}

/* CARROUSEL */
.m-carousel-bulleted a{margin: 0 2px !important;}
.m-carousel-photos .m-item > img{max-height: 156px;min-height: 156px;}

/* LOCAL GOOGLE MAP */
#local_google_map { height: 100% }
#local_google_map .ui-content { height: 80%; padding: 0; margin-top: 18px;margin-bottom: 15px;}
#local_google_map #map_canvas { height: 100% }

/* PLAN DESCRIPCION */
#plan_descripcion .content_bottom .informacion{padding-top: 0px;margin-top: 0px;font-style: italic;color: #838383;font-size: 11px;}
#plan_descripcion .content_bottom div.texto_descripcion{/*max-height: 102px;*/min-height: 102px;}
#plan_descripcion .content_bottom .informacion label, #plan_descripcion .content_bottom .informacion span{font-family: 'century_gothicregular'; color: #df086f;}
#plan_descripcion .content_bottom .informacion span{font-weight: bold;}

/* PLAN DESCRIPCON - POPUP */
.container_popup{border-radius: 5px;overflow: hidden;margin: 10px;min-width: 90%;}
#plan_condiciones h2.ui-li-heading, #plan_como_reservar h2.ui-li-heading, #recompensa_condiciones h2.ui-li-heading{font-weight: bold;font-family: Helvetica, Arial, sans-serif;padding-bottom: 5px;margin-top: 0;}

/* VALIDAR RECOMPENSA */
.validar_recompensa{background: #29cb08;padding: 12px 0 9px}
.validar_recompensa a{color: #fff;font-size: 15px;font-family: 'century_gothicregular';font-weight: normal;}
.validar_recompensa a span{display: block;text-align: center; text-shadow: 0 0 0;line-height: 15px;}
.validar_recompensa a span.titulo{font-size: 20px;}

/* CIUDADES */
#ciudades .owl-carousel{height: 100%;position: absolute;top: 0;}
#ciudades .owl-wrapper-outer{height: 100%;}
#ciudades .owl-carousel .ciudad{padding-top: 408px;padding-bottom: 30px;text-align: center;}
#ciudades .owl-carousel .ciudad span{text-align: center;text-shadow: 0 0 0;color: #fff;font-size: 30px;letter-spacing: 1px;display: inline-block;font-weight: normal;font-family: 'century_gothicregular';background: #fc027e;line-height: 30px;padding: 0 5px;}
#ciudades .owl-theme .owl-controls{position: relative;margin-top: -25px;}
#ciudades .ui-header.ui-bar-inherit{background: transparent;border: none;overflow: hidden;z-index: 10;}
#ciudades.ui-page p.text {text-align: center;text-shadow: 0 0 0;color: #fff;font-weight: normal;font-family: 'century_gothicregular';font-size: 21px;letter-spacing: 1px;}
#ciudades.ui-page p.text span{background: #fc027e;padding: 0 5px;}

/* HOME IPAD AND MOBILE*/
/* #Mobile (Landscape)
================================================== */

@media only screen and  (max-width: 479px) {
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
    #locales .ui-listview .content_descripcion .ubicacion, 
    #planes .ui-listview .content_descripcion .ubicacion,
    #estoy_aqui .ui-listview .content_descripcion .ubicacion{
        width: 75%;
    }
    #locales .ui-listview .content_descripcion .km,
    #planes .ui-listview .content_descripcion .km,
    #estoy_aqui .ui-listview .content_descripcion .km{
        width: 23%;
    }
    #locales .ui-listview .content_descripcion .km b, 
    #planes .ui-listview .content_descripcion .km b,
    #estoy_aqui .ui-listview .content_descripcion .km b{
        width: 75px;
    }    
    .m-carousel-photos .m-item > img{
        max-height: 225px;
        min-height: 225px;
    }
    #local_google_map .ui-content{ 
        height: 70%; 
    }
    #plan_descripcion .content_bottom .informacion .right{
        float: left;
    }
}

/* Tablet (Portrait)
================================================== */

@media only screen
and (min-width : 768px)
and (max-width : 1024px) {
}